.exercise2 {
  border: 2px solid #e7e9e9;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  max-width: 1200px;

  header {
    border-bottom: 2px solid #e7e9e9;
    padding: 1em;
    width: 100%;

    form {
      display: flex;
      justify-content: space-between;

      .multiSelect {
        width: 200px;
      }

      input[type=text] {
        border: 1px solid #e3e4e3;
        padding: 10px;
      }

      .clearFilters {
        text-transform: uppercase;
      }
    }
  }
}