.exercise2 {
  border: 2px solid #e7e9e9;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  max-width: 1200px;

  header {
    border-bottom: 2px solid #e7e9e9;
    padding: 1em;
    width: 100%;

    form {
      display: flex;
      justify-content: space-between;

      .multiSelect {
        width: 200px;
      }

      input[type=text] {
        border: 1px solid #e3e4e3;
        padding: 10px;
      }
    }
  }

  .mediaItems {
    color: #4c4b55;
    display: grid;
    font-weight: bold;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em;

    .mediaItem {
      img {
        width: 100%;
      }

      .itemTitle {
        font-size: 1.2em;
      }

      .genre {
        text-transform: capitalize;
      }
    }
  }
}